---
import ServiceCard from "./ServiceCard.astro";
---

<section class="px-2 md:px-10">
  <h2 class="text-white text-6xl md:text-7xl font-medula text-center">
    SERVICES
  </h2>
  <p class="text-light-1 text-center">
    Ayo peep these services, pal. They’re like the best and you should check
    them out.
  </p>

  <div class="grid grid-cols-1 p-2">
    <ServiceCard />
  </div>
</section>
