* {
  box-sizing: border-box;
}

body {
  background-color: #333;
} 

.coverflow {
  border: 1px solid orange;
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1), width 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 50%;
}
.coverflow__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coverflow__image--active img {
  box-shadow: 0 1px 25px 10px #966464;
}
.coverflow__image:not(.coverflow__image--active):hover > div {
  box-shadow: 0 1px 25px 10px rgba(255, 255, 255, 0.5);
}

.debug {
  display: flex;
  justify-content: center;
  color: white;
}