<style>
  .grid-outer-container {
    width: 500px;
    display: flex;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: inset 0 0 800px pink;
  }

  .thing {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px pink;
  }
  .moving-grid-bg {
    position: absolute;
    height: 500%;
    width: 100%;
    will-change: transform;
    background-size: 3rem 3rem;
    background-image: linear-gradient(to right, #8882 1px, transparent 1px),
      linear-gradient(to bottom, #8882 1px, transparent 1px);
    animation: movingbackground 60s linear infinite !important;
  }

  @keyframes movingbackground {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, -50%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .moving-grid-bg {
      animation: none !important;
    }
  }
</style>

<div class="grid-outer-container">
    <div class="thing">
      <p>my yeet</p>
      
      <div
      class="mt-6 bg-neutral-800 shadow rounded-lg p-4 max-w-sm w-full mx-auto"
    >
      <div class="animate-pulse flex space-x-4">
        <div class="rounded-full bg-neutral-500 h-10 w-10"></div>
        <div class="flex-1 space-y-6 py-1">
          <div class="h-2 bg-neutral-500 rounded"></div>
          <div class="space-y-3">
            <div class="grid grid-cols-3 gap-4">
              <div class="h-2 bg-neutral-500 rounded col-span-2"></div>
              <div class="h-2 bg-neutral-500 rounded col-span-1"></div>
            </div>
            <div class="h-2 bg-neutral-500 rounded"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="moving-grid-bg"></div>
</div>
