<style>
  .bg {
    filter: contrast(100%) brightness(100%);
    flex: 0 0 auto;
    position: absolute;
    height: 100%;
    top: 0px;
    width: 100%;
  }

  .str-section {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 40px;
    height: auto;
    overflow: visible;
    padding: 0px 32px;
    position: relative;
  }

  /* strength 3 */
  .highlight-bar-3 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(177, 178, 167) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg-3 {
    background: radial-gradient(
        46% 90% at 50% 0%,
        rgba(159, 159, 146, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }
</style>

<div class="str-section">
  <div class="highlight-bar-3"></div>
  <div class="bg bg-3"></div>
  <div class="flex flex-col items-center gap-4 z-10">
    <div
      class="rounded-full bg-gradient-to-r from-[#cecec7] to-[#bbbbb2] brightness-125 contrast-100 flex gap-1 items-center text-xs p-[1px] select-none"
    >
      <div class="bg-black/80 px-3 py-1 rounded-full">
        <svg
          class="align-bottom inline-block h-4 w-4 fill-[#bbbbb2]"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            d="M14.5 21.991V18.5c0-.935 0-1.402-.201-1.75a1.5 1.5 0 0 0-.549-.549C13.402 16 12.935 16 12 16s-1.402 0-1.75.201a1.5 1.5 0 0 0-.549.549c-.201.348-.201.815-.201 1.75v3.491z"
          ></path><path
            fill-rule="evenodd"
            d="M5.732 12c-.89 0-1.679-.376-2.232-.967V14c0 3.771 0 5.657 1.172 6.828c.943.944 2.348 1.127 4.828 1.163h5c2.48-.036 3.885-.22 4.828-1.163C20.5 19.657 20.5 17.771 20.5 14v-2.966a3.06 3.06 0 0 1-5.275-1.789l-.073-.728a3.167 3.167 0 1 1-6.307.038l-.069.69A3.06 3.06 0 0 1 5.732 12m8.768 6.5v3.491h-5V18.5c0-.935 0-1.402.201-1.75a1.5 1.5 0 0 1 .549-.549C10.598 16 11.065 16 12 16s1.402 0 1.75.201a1.5 1.5 0 0 1 .549.549c.201.348.201.815.201 1.75"
            clip-rule="evenodd"
            opacity=".5"></path><path
            d="M9.5 2h5l.652 6.517a3.167 3.167 0 1 1-6.304 0z"></path><path
            d="M3.33 5.351c.178-.89.267-1.335.448-1.696a3 3 0 0 1 1.889-1.548C6.057 2 6.51 2 7.418 2h2.083l-.725 7.245a3.06 3.06 0 1 1-6.044-.904zm17.34 0c-.178-.89-.267-1.335-.448-1.696a3 3 0 0 0-1.888-1.548C17.944 2 17.49 2 16.582 2H14.5l.725 7.245a3.06 3.06 0 1 0 6.043-.904z"
            opacity=".7"></path></svg
        >

        <span
          class="bg-gradient-to-r from-[#cecec7] to-[#bbbbb2] bg-clip-text text-transparent"
          >Agile, Systematic, Economical</span
        >
      </div>
    </div>
    <h3 class="text-center text-3xl font-bold text-white font-neuton">
      Efficient, Future-Proof Development
    </h3>
    <p class="text-neutral-400 text-center text-base">
      Experience streamlined development, efficient maintenance, and
      budget-friendly, future-proof solutions that save you time and money.
    </p>
  </div>
</div>
