<div class="w-[80%] border-2 border-neutral-800 rounded-md px-20 py-12">
  <div class="flex-wrap flex items-center">
    <div class="flex flex-col gap-2">
      <div class="font-neuton uppercase bg-gradient-to-r from-[#bdffc9] to-[#a3ffb4] bg-clip-text text-transparent">Starting at $99999999</div>
      <div class="text-2xl font-neuton font-semibold">Custom Website</div>
      <div class="text-base text-neutral-400">
        Get high-quality design work at a fraction of the cost. Book a Free
        Discovery Call to Better understand your Vision for your Website
      </div>
    </div>
    <div class="bg-neutral-400">
    </div>
  </div>

</div>
