<style>
  .moving-grid-bg {
    z-index: -2;
    top: 0;
    position: absolute;
    height: 500%;
    width: 100vw;
    will-change: transform;
    background-size: 3rem 3rem;
    background-image: linear-gradient(to right, #8882 1px, transparent 1px),
      linear-gradient(to bottom, #8882 1px, transparent 1px);
    animation: none 200s linear infinite !important;
  }

  @keyframes movingbackground {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .moving-grid-bg {
      animation: none !important;
    }
  }

  .str-section {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 40px;
    height: auto;
    overflow: visible;
    position: relative;
  }

  .highlight-bar-1 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(119, 124, 118) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg {
    filter: contrast(100%) brightness(100%);
    flex: 0 0 auto;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .bg-1 {
    background: radial-gradient(
        46% 90% at 50% 0%,
        rgba(67, 74, 66, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("/noise.svg");
  }
</style>

<div id="tools" class="px-[32px] relative overflow-hidden pb-20">
  <div class="str-section">
    <div class="highlight-bar-1"></div>
    <div class="h-[10rem] md:h-[12rem] bg bg-1"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <div
        class="rounded-full bg-gradient-to-r from-[#9ca09b] to-[#777c76] brightness-125 contrast-100 flex gap-1 items-center text-lg p-[1px] select-none"
      >
        <div class="flex items-center gap-1 bg-black/80 px-3 py-1 rounded-full">
          <svg
            class="align-bottom inline-block h-4 w-4 fill-[#9ca09b]"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            ><rect
              width="10"
              height="10"
              x="12"
              y="2"
              fill="currentColor"
              rx="2"></rect><path
              fill="currentColor"
              d="M12 7h-1c-1.886 0-2.828 0-3.414.586C7 8.172 7 9.114 7 11v2c0 1.886 0 2.828.586 3.414C8.172 17 9.114 17 11 17h2c1.886 0 2.828 0 3.414-.586C17 15.828 17 14.886 17 13v-1h-1c-1.886 0-2.828 0-3.414-.586C12 10.828 12 9.886 12 8z"
              opacity=".7"></path><path
              fill="currentColor"
              d="M7 12v1c0 1.886 0 2.828.586 3.414C8.172 17 9.114 17 11 17h1v1c0 1.886 0 2.828-.586 3.414C10.828 22 9.886 22 8 22H6c-1.886 0-2.828 0-3.414-.586C2 20.828 2 19.886 2 18v-2c0-1.886 0-2.828.586-3.414C3.172 12 4.114 12 6 12z"
              opacity=".4"></path></svg
          >
          <span
            class="bg-gradient-to-r from-[#9ca09b] to-[#c2c5c2] bg-clip-text text-transparent"
            >Empowering Innovation</span
          >
        </div>
      </div>
      <div class="moving-grid-bg"></div>

      <h2
        class="text-center text-5xl md:text-6xl text-white font-medula uppercase"
      >
        Our technical expertise
      </h2>
    </div>

    <ul class="pt-2 z-10 grid grid-cols-1 xl:grid-cols-3 gap-12">
      <div data-glow class="relative w-full rounded-3xl">
        <div data-glow></div>

        <div
          class="rounded-3xl absolute h-full w-full bg-gradient-to-b to-neutral-900 from-neutral-800 -z-[1]"
        >
        </div>
        <div
          class="flex !flex-row justify-start items-center overflow-visible relative"
        >
          <div
            class="flex flex-shrink-0 flex-grow lg:flex-grow-0 py-12 px-8 flex-col justify-start items-start"
          >
            <h2 class="text-5xl font-medula uppercase">Product design</h2>
            <div class="flex flex-row items-center justify-start h-8 gap-2">
              <p class="text-lg">Designed with</p>
              <div class="flex gap-1 items-center justify-center">
                <img
                  src="/Figma-Icon.svg"
                  class="inline"
                  alt="Figma"
                  width="20"
                  height="30"
                  loading="lazy"
                  decoding="async"
                />
                <img
                  src="/Figma-Wordmark-White.svg"
                  class="inline"
                  alt="Figma"
                  width="49"
                  height="18"
                  loading="lazy"
                  decoding="async"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[200px] lg:w-auto lg:flex-grow h-full flex centered relative overflow-hidden rounded-2xl"
            style="mask: linear-gradient(to bottom, #000 0%, #00000000 100%)"
          >
          </div>
        </div>
        <ul
          class="hypens-auto text-lg px-8 pb-4 text-left [&_li]:relative [&_li]:text-subtle [&_li]:py-4 [&_li:last-of-type]:after:hidden [&_li]:after:border-b [&_li]:after:border-dashed [&_li]:after:border-white/60 [&_li]:after:w-full [&_li]:after:h-px [&_li]:after:absolute [&_li]:after:bottom-0 [&_li]:after:left-0"
        >
          <li>
            <p>
              Collaborate with your designer using Figma's <a
                class="link"
                href="https://www.figma.com/collaboration/">real-time editor</a
              >, on Slack, or in Notion.
            </p>
          </li><li>
            <p>
              Leave <a
                class="link"
                href="https://help.figma.com/hc/en-us/articles/360039825314-Guide-to-comments-in-Figma"
                >real-time comments</a
              > directly on designs to provide feedback.
            </p>
          </li><li>
            <p>
              Quickly translate designs into code using <a
                class="link"
                href="https://www.figma.com/dev-mode/">Dev Mode</a
              >.
            </p>
          </li>
        </ul>
      </div>
      <div data-glow class="relative w-full rounded-3xl">
        <div data-glow></div>

        <div
          class="rounded-3xl absolute h-full w-full bg-gradient-to-b to-neutral-900 from-neutral-800 -z-[1]"
        >
        </div>
        <div
          class="flex !flex-row justify-start items-center overflow-visible relative"
        >
          <div
            class="flex flex-shrink-0 flex-grow lg:flex-grow-0 py-12 px-8 flex-col justify-start items-start"
          >
            <h2 class="text-5xl font-medula uppercase">Design system</h2>
            <div class="flex flex-row items-center justify-start h-8 gap-2">
              <p class="text-lg">Built on</p>
              <div class="flex gap-1 items-center justify-center">
                <img
                  src="/tailwind.svg"
                  class="inline"
                  alt="tailwind"
                  width="147"
                  height="20"
                  loading="lazy"
                  decoding="async"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[200px] lg:w-auto lg:flex-grow h-full flex relative overflow-hidden rounded-2xl"
            style="mask: linear-gradient(to bottom, #000 0%, #00000000 100%)"
          >
            <img
              src="/design-system-graphic.svg"
              class="max-w-none z-20 mt-4"
              alt=""
              width="145"
              height="210"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <ul
          class="hypens-auto text-lg px-8 pb-4 text-left [&_li]:relative [&_li]:text-subtle [&_li]:py-4 [&_li:last-of-type]:after:hidden [&_li]:after:border-b [&_li]:after:border-dashed [&_li]:after:border-white/60 [&_li]:after:w-full [&_li]:after:h-px [&_li]:after:absolute [&_li]:after:bottom-0 [&_li]:after:left-0"
        >
          <li>
            <p>
              Centralize your entire brand in a <a
                class="link"
                href="https://tailwindcss.com/docs/configuration"
                >Tailwind configuration file</a
              >.
            </p>
          </li><li>
            <p>
              Leverage <a
                class="link"
                href="https://tailwindcss.com/docs/browser-support#vendor-prefixes"
                >auto-prefixing</a
              > to ensure support all of the latest browsers.
            </p>
          </li><li>
            <p>
              Easily take your brand anywhere using Tailwind's <a
                class="link"
                href="https://tailwindcss.com/docs/utility-first"
                >utility-first approach to styling</a
              >.
            </p>
          </li>
        </ul>
      </div>
      <div data-glow class="relative w-full rounded-3xl">
        <div data-glow></div>

        <div
          class="rounded-3xl absolute h-full w-full bg-gradient-to-b to-neutral-900 from-neutral-800 -z-[1]"
        >
        </div>
        <div
          class="flex !flex-row justify-start items-center overflow-visible relative"
        >
          <div
            class="flex flex-shrink-0 flex-grow lg:flex-grow-0 py-12 px-8 flex-col justify-start items-start"
          >
            <h2 class="text-5xl font-medula uppercase">Pages/Apps</h2>
            <div class="flex flex-row flex-wrap items-center justify-start h-8 gap-2">
              <p class="text-lg">Built with</p>
              <div class="flex gap-1 items-center justify-center">
                <img
                  src="/astro-logo.svg"
                  class="inline"
                  alt="tailwind"
                  width="90"
                  height="32"
                  loading="lazy"
                  decoding="async"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[200px] lg:w-auto lg:flex-grow h-full flex centered relative overflow-hidden rounded-2xl"
            style="mask: linear-gradient(to bottom, #000 0%, #00000000 100%)"
          >
            <img
              src="/landing-pages-graphic.svg"
              class="max-w-none z-20 mt-4"
              alt=""
              width="300"
              height="209"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <ul
          class="hypens-auto text-lg px-8 pb-4 text-left [&_li]:relative [&_li]:text-subtle [&_li]:py-4 [&_li:last-of-type]:after:hidden [&_li]:after:border-b [&_li]:after:border-dashed [&_li]:after:border-white/60 [&_li]:after:w-full [&_li]:after:h-px [&_li]:after:absolute [&_li]:after:bottom-0 [&_li]:after:left-0"
        >
          <li>
            <p>
              Launch high-performance, high-conversion landing pages that use <a
                class="link"
                href="https://astro.build/blog/introducing-astro/"
                >almost no JavaScript</a
              >.
            </p>
          </li><li>
            <p>
              Edit your site's content without touching code using <a
                class="link"
                href="https://docs.astro.build/en/guides/content-collections"
                >content collections</a
              >.
            </p>
          </li><li>
            <p>
              Share your components between your landing pages and product using
              Astro's support for libraries like <a
                class="link"
                href="(https://docs.astro.build/en/core-concepts/framework-components/"
                >React, Vue, and Svelte</a
              >.
            </p>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</div>
