<style>
  .orb-container {
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-around;
  }

  .shadow-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    box-shadow: inset 0 0 5px pink;
  }
</style>

<div class="orb-container">
  <div class="shadow-circle"></div>
  <div class="shadow-circle"></div>
  <div class="shadow-circle"></div>
  <div class="shadow-circle"></div>
  <div class="shadow-circle"></div>
</div>
