<style>
  .piekel {
    filter: grayscale(1);
  }

  .piekel:hover {
    filter: grayscale(0);
  }
  
  .bg {
    filter: contrast(100%) brightness(100%);
    flex: 0 0 auto;
    position: absolute;
    height: 100%;
    top: 0px;
    width: 100%;
  }

  .str-section {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 40px;
    height: auto;
    overflow: visible;
    padding: 0px 32px;
    position: relative;
  }

  /* strength 2 */
  .highlight-bar-2 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(223, 112, 91) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg-2 {
    background: radial-gradient(
        46% 90% at 50% 0%,
        rgba(209, 70, 47, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }
</style>

<div class="str-section">
  <div class="highlight-bar-2"></div>
  <div class="bg bg-2"></div>
  <div class="flex flex-col items-center gap-4 z-10 pb-20">
    <div
      class="rounded-full bg-gradient-to-r from-[#f4b9ac] to-[#ed9c8c] brightness-125 contrast-100 flex gap-1 items-center text-xs p-[1px] select-none"
    >
      <div class="bg-black/80 px-3 py-1 rounded-full">
        <svg
          class="align-bottom inline-block h-4 w-4 fill-[#f4b9ac]"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            d="M5.684 12c0 .584-.47 1.059-1.052 1.059a1.056 1.056 0 0 1-1.053-1.06c0-.584.471-1.058 1.053-1.058c.581 0 1.052.474 1.052 1.059m0 6.353c0 .584-.47 1.058-1.052 1.058a1.056 1.056 0 0 1-1.053-1.058c0-.585.471-1.06 1.053-1.06c.581 0 1.052.475 1.052 1.06m0-12.706c0 .584-.47 1.059-1.052 1.059a1.056 1.056 0 0 1-1.053-1.06c0-.584.471-1.058 1.053-1.058c.581 0 1.052.474 1.052 1.059"
          ></path><path
            fill-rule="evenodd"
            d="M3.516 15.725c.271-.019.618-.02 1.116-.02h14.736c.498 0 .845.001 1.117.02c.266.018.422.052.54.102c.387.161.695.47.855.86c.049.119.083.275.101.543c.019.273.019.622.019 1.123c0 .5 0 .85-.019 1.123c-.018.268-.052.424-.101.544c-.16.389-.468.698-.855.86c-.118.049-.274.083-.54.101c-.272.019-.619.019-1.117.019H4.632c-.498 0-.845 0-1.116-.019c-.267-.018-.423-.053-.541-.102a1.584 1.584 0 0 1-.855-.86c-.049-.119-.083-.275-.101-.543A18.385 18.385 0 0 1 2 18.353c0-.5 0-.85.019-1.123c.018-.268.052-.424.101-.544c.16-.389.468-.698.855-.86c.118-.049.274-.083.54-.101m1.116 3.687c.58 0 1.052-.474 1.052-1.06c0-.584-.471-1.058-1.052-1.058c-.582 0-1.053.474-1.053 1.059s.471 1.059 1.053 1.059m.001-11.118c-.498 0-.845 0-1.116-.019c-.267-.018-.423-.052-.541-.102a1.584 1.584 0 0 1-.855-.86c-.049-.119-.083-.275-.101-.543A18.383 18.383 0 0 1 2 5.647c0-.5 0-.85.019-1.123c.018-.268.052-.424.101-.544c.16-.389.468-.698.855-.86c.118-.049.274-.083.54-.101A18.07 18.07 0 0 1 4.633 3h14.736c.498 0 .845 0 1.117.019c.266.018.422.052.54.102c.387.161.695.47.855.86c.049.119.083.275.101.543c.019.274.019.622.019 1.123c0 .5 0 .85-.019 1.123c-.018.268-.052.424-.101.544c-.16.389-.468.698-.855.86c-.118.049-.274.083-.54.101a18.07 18.07 0 0 1-1.117.02zm0 1.059c-.498 0-.845 0-1.116.019c-.267.018-.423.052-.541.102a1.58 1.58 0 0 0-.855.86c-.049.119-.083.275-.101.543C2 11.15 2 11.5 2 12s0 .85.019 1.123c.018.268.052.424.101.544c.16.389.468.698.855.86c.118.049.274.083.54.101c.272.019.619.02 1.117.02h14.736c.498 0 .845-.001 1.117-.02c.266-.018.422-.052.54-.102a1.58 1.58 0 0 0 .855-.86c.049-.119.083-.275.101-.543C22 12.85 22 12.5 22 12s0-.85-.019-1.123c-.018-.268-.052-.424-.101-.544a1.583 1.583 0 0 0-.855-.86c-.118-.049-.274-.083-.54-.101a18.07 18.07 0 0 0-1.117-.02zM5.684 12c0 .585-.471 1.059-1.052 1.059A1.056 1.056 0 0 1 3.579 12c0-.585.471-1.059 1.053-1.059c.58 0 1.052.474 1.052 1.059M4.632 6.706c.58 0 1.052-.474 1.052-1.059s-.471-1.059-1.052-1.059c-.582 0-1.053.474-1.053 1.06c0 .584.471 1.058 1.053 1.058"
            clip-rule="evenodd"
            opacity=".5"></path></svg
        >
        <span
          class="bg-gradient-to-r from-[#f4b9ac] to-[#ed9c8c] bg-clip-text text-transparent"
          >Expand with Ease</span
        >
      </div>
    </div>
    <h3 class="text-center text-4xl font-bold text-white font-neuton">
      Scalable Solutions for Growth
    </h3>
    <p class="text-neutral-400 text-center text-lg">
      Our software solutions are built to scale and evolve rapidly, seamlessly
      integrating with your enterprise for sustained growth.
    </p>
  </div>
</div>

<div class="pt-6 pb-20 w-full relative gap-y-14 md:gap-0 grid grid-cols-2 md:grid-cols-4 items-center justify-items-center">
  <a
    href="https://tailwindcss.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="piekel cursor-pointer duration-300 hover:scale-110 backdrop-blur-md rounded-full grid place-items-center h-24 w-24 md:h-36 md:w-36 shadow-[inset_1rem_1rem_3rem_0_#06B6D4dd,inset_-1rem_-1rem_1rem_0_black,0_0_3rem_-1rem_#06B6D4] md:shadow-[inset_1rem_1rem_4rem_0_#06B6D4dd,inset_-1rem_-1rem_1rem_0_black,0_0_4rem_-1rem_#06B6D4]"
  >
    <svg
      class="w-12 h-12 md:w-20 md:h-20 fill-[#06B6D4]"
      role="img"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      ><title>Tailwind CSS</title><path
        d="M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z"
      ></path></svg
    >
  </a>
  <a
    href="https://astro.build"
    target="_blank"
    rel="noopener noreferrer"
    class="piekel cursor-pointer duration-300 hover:scale-110 backdrop-blur-md rounded-full grid place-items-center h-24 w-24 md:h-36 md:w-36 shadow-[inset_1rem_1rem_3rem_0_#f0545bcc,inset_-1rem_-1rem_1rem_0_black,0_0_3rem_-1rem_#f0545b] md:shadow-[inset_1rem_1rem_4rem_0_#f0545bcc,inset_-1rem_-1rem_1rem_0_black,0_0_4rem_-1rem_#f0545b]"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-12 h-12 md:w-20 md:h-20 fill-white/90"
      viewBox="0 0 85 107"
    >
      <path
        d="M27.5893 91.1365C22.7555 86.7178 21.3443 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4374 78.2199 52.0358 77.7822 59.2231 74.2459C60.0453 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.3179 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6844 102.089C39.2086 99.8193 38.5065 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5893 91.1365Z"
        fill="white"></path>
      <path
        d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z"
        fill="white"></path>
    </svg>
  </a>
  <a
    href="https://nextjs.org/"
    target="_blank"
    rel="noopener noreferrer"
    class="piekel cursor-pointer duration-300 hover:scale-110 backdrop-blur-md rounded-full grid place-items-center h-24 w-24 md:h-36 md:w-36 shadow-[inset_1rem_1rem_3rem_0_#fff4,inset_-1rem_-1rem_1rem_0_black,0_0_3rem_-1rem_#fff8] md:shadow-[inset_1rem_1rem_4rem_0_#fff4,inset_-1rem_-1rem_1rem_0_black,0_0_4rem_-1rem_#fff8]"
  >
    <svg
      class="w-12 h-12 md:w-20 md:h-20 fill-white/90"
      viewBox="0 0 80 80"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M66.448 70.0089L30.7298 24H24V55.9867H29.3838V30.8372L62.2218 73.2644C63.7036 72.2729 65.1151 71.1844 66.448 70.0089Z"
        fill="url(#paint0_linear_225_54)"></path>
      <path
        d="M56.4444 24H51.1111V56H56.4444V24Z"
        fill="url(#paint1_linear_225_54)"></path>
      <defs>
        <linearGradient
          id="paint0_linear_225_54"
          x1="48.4444"
          y1="51.7778"
          x2="64.2222"
          y2="71.3333"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white"></stop>
          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_225_54"
          x1="53.7778"
          y1="24"
          x2="53.6884"
          y2="47.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white"></stop>
          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </a>
  <a
    href="https://vercel.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="piekel cursor-pointer duration-300 hover:scale-110 backdrop-blur-md rounded-full grid place-items-center h-24 w-24 md:h-36 md:w-36 shadow-[inset_1rem_1rem_3rem_0_#fff4,inset_-1rem_-1rem_1rem_0_black,0_0_3rem_-1rem_#fff8] md:shadow-[inset_1rem_1rem_4rem_0_#fff4,inset_-1rem_-1rem_1rem_0_black,0_0_4rem_-1rem_#fff8]"
  >
    <svg
      aria-label="Vercel logomark"
      role="img"
      class="w-12 h-12 md:w-20 md:h-20 fill-white/90"
      viewBox="0 0 74 64"
      ><path d="M37.5896 0.25L74.5396 64.25H0.639648L37.5896 0.25Z" fill="white"
      ></path></svg
    >
  </a>
</div>
