---
import CostSpeed from "./CostSpeed.astro";
import Design from "./Design.astro";
import Solutions from "./Solutions.astro";
---

<section class="pb-6 px-[32px] flex flex-col">
  <Design />
  <Solutions />
  <CostSpeed />
</section>
