---
import Tools from "./Tools.astro";
import Process from "./Process.astro";
---

<section class="pb-6 flex flex-col">
  <!-- What tools we use -->
  <Tools />

  <!-- The process of working with CCC -->
  <Process />

  <!-- TBD, could include cost cards in the future -->

</section>
