<style>
  /* strength 1 */
  .moving-grid-bg {
    z-index: -1;
    top: 0;
    position: absolute;
    height: 500%;
    width: 100vw;
    left: 50%;
    will-change: transform;
    background-size: 3rem 3rem;
    background-image: linear-gradient(to right, #8882 1px, transparent 1px),
      linear-gradient(to bottom, #8882 1px, transparent 1px);
    animation: movingbackground 200s linear infinite !important;
  }

  @keyframes movingbackground {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .moving-grid-bg {
      animation: none !important;
    }
  }
  .highlight-bar-1 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(119, 124, 118) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg {
    filter: contrast(100%) brightness(100%);
    flex: 0 0 auto;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .bg-1 {
    background: radial-gradient(
        46% 90% at 50% 0%,
        rgba(67, 74, 66, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }

  .str-section {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 40px;
    height: auto;
    overflow: visible;
    position: relative;
  }
</style>

<div class="px-[32px] relative overflow-hidden pb-20">
  <div class="str-section">
    <div class="highlight-bar-1"></div>
    <div class="h-[10rem] md:h-[12rem] bg bg-1"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <div
        class="rounded-full bg-gradient-to-r from-[#9ca09b] to-[#777c76] brightness-125 contrast-100 flex gap-1 items-center text-lg p-[1px] select-none"
      >
        <div class="flex items-center gap-1 bg-black/80 px-3 py-1 rounded-full">
          <svg
            class="align-bottom inline-block h-4 w-4 fill-[#9ca09b]"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            ><path d="M7 18a1 1 0 1 1-2 0a1 1 0 0 1 2 0"></path><path
              d="M10 6v12a4 4 0 0 1-8 0V6a4 4 0 1 1 8 0"
              opacity=".4"></path><path
              d="m9.248 20.336l3.974-3.975l5.838-6.09a4.042 4.042 0 0 0-5.776-5.655L10 7.9V18c0 .872-.279 1.679-.752 2.336"
              opacity=".7"></path><path
              d="m13.222 16.362l-3.974 3.974A4 4 0 0 1 6 22h11.9a4 4 0 1 0 0-8h-2.414z"
            ></path></svg
          >
          <span
            class="bg-gradient-to-r from-[#9ca09b] to-[#c2c5c2] bg-clip-text text-transparent"
            >Unleash Creativity</span
          >
        </div>
      </div>
      <div class="moving-grid-bg"></div>

      <h3
        class="text-center text-5xl md:text-6xl text-white font-medula uppercase"
      >
        Intuitive & Custom Designs
      </h3>
    </div>

    <ul class="pt-2 z-10 grid grid-cols-1 xl:grid-cols-3 gap-12">
      <div
        class="relative w-full overflow-hidden rounded-3xl border bg-gradient-to-t from-neutral-950/90 to-neutral-800/90"
      >
        <div
          class="flex !flex-row justify-start items-center overflow-visible relative"
        >
          <div
            class="flex flex-shrink-0 flex-grow lg:flex-grow-0 py-12 px-8 flex-col justify-start items-start"
          >
            <h2 class="text-5xl font-medula uppercase">Product design</h2>
            <div class="flex flex-row items-center justify-start h-8 gap-2">
              <p class="text-lg">Designed with</p>
              <div class="flex gap-1 items-center justify-center">
                <img
                  src="/Figma-Icon.svg"
                  class="inline"
                  alt="Figma"
                  width="20"
                  height="30"
                  loading="lazy"
                  decoding="async"
                />
                <img
                  src="/Figma-Wordmark-White.svg"
                  class="inline"
                  alt="Figma"
                  width="49"
                  height="18"
                  loading="lazy"
                  decoding="async"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[200px] lg:w-auto lg:flex-grow h-full flex centered relative overflow-hidden rounded-2xl"
            style="mask: linear-gradient(to bottom, #000 0%, #00000000 100%)"
          >
            <img
              src="/figma-graphic.svg"
              class="max-w-none z-20 mt-4"
              alt=""
              width="300"
              height="209"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <ul
          class="text-lg px-8 pb-4 text-left [&_li]:relative [&_li]:text-subtle [&_li]:py-4 [&_li:last-of-type]:after:hidden [&_li]:after:border-b [&_li]:after:border-dashed [&_li]:after:border-slate-dark/10 [&_li]:after:w-full [&_li]:after:h-px [&_li]:after:absolute [&_li]:after:bottom-0 [&_li]:after:left-0 [&_a]:text-default [&_a]:font-medium [&_a:hover]:underline"
        >
          <li>
            <p>
              Collaborate with your designer using Figma's <a
                href="https://www.figma.com/collaboration/">real-time editor</a
              >, on Slack, or in Notion
            </p>
          </li><li>
            <p>
              Leave <a
                href="https://help.figma.com/hc/en-us/articles/360039825314-Guide-to-comments-in-Figma"
                >real-time comments</a
              > directly on designs to provide feedback
            </p>
          </li><li>
            <p>
              Quickly translate designs into code using <a
                href="https://www.figma.com/dev-mode/">Dev Mode</a
              >
            </p>
          </li>
        </ul>
      </div>
      <div
        class="relative w-full overflow-hidden rounded-3xl border bg-gradient-to-t from-neutral-950/90 to-neutral-800/90"
      >
        <div
          class="flex !flex-row justify-start items-center overflow-visible relative"
        >
          <div
            class="flex flex-shrink-0 flex-grow lg:flex-grow-0 py-12 px-8 flex-col justify-start items-start"
          >
            <h2 class="text-5xl font-medula uppercase">Design system</h2>
            <div class="flex flex-row items-center justify-start h-8 gap-2">
              <p class="text-lg">Built on</p>
              <div class="flex gap-1 items-center justify-center">
                <img
                  src="/tailwind.svg"
                  class="inline"
                  alt="tailwind"
                  width="147"
                  height="20"
                  loading="lazy"
                  decoding="async"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[200px] lg:w-auto lg:flex-grow h-full flex relative overflow-hidden rounded-2xl"
            style="mask: linear-gradient(to bottom, #000 0%, #00000000 100%)"
          >
            <img
              src="/design-system-graphic.svg"
              class="max-w-none z-20 mt-4"
              alt=""
              width="145"
              height="210"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <ul
          class="text-lg px-8 pb-4 text-left [&_li]:relative [&_li]:text-subtle [&_li]:py-4 [&_li:last-of-type]:after:hidden [&_li]:after:border-b [&_li]:after:border-dashed [&_li]:after:border-slate-dark/10 [&_li]:after:w-full [&_li]:after:h-px [&_li]:after:absolute [&_li]:after:bottom-0 [&_li]:after:left-0 [&_a]:text-default [&_a]:font-medium [&_a:hover]:underline"
        >
          <li>
            <p>
              Centralize your entire brand in a <a
                href="https://tailwindcss.com/docs/configuration"
                >Tailwind configuration file</a
              >
            </p>
          </li><li>
            <p>
              Leverage <a
                href="https://tailwindcss.com/docs/browser-support#vendor-prefixes"
                >auto-prefixing</a
              > to ensure support all of the latest browsers
            </p>
          </li><li>
            <p>
              Easily take your brand anywhere using Tailwind's <a
                href="https://tailwindcss.com/docs/utility-first"
                >utility-first approach to styling</a
              >
            </p>
          </li>
        </ul>
      </div>
      <div
        class="relative w-full overflow-hidden rounded-3xl border bg-gradient-to-t from-neutral-950/90 to-neutral-800/90"
      >
        <div
          class="flex !flex-row justify-start items-center overflow-visible relative"
        >
          <div
            class="flex flex-shrink-0 flex-grow lg:flex-grow-0 py-12 px-8 flex-col justify-start items-start"
          >
            <h2 class="text-5xl font-medula uppercase">Landing pages</h2>
            <div class="flex flex-row items-center justify-start h-8 gap-2">
              <p class="text-lg">Built with</p>
              <div class="flex gap-1 items-center justify-center">
                <img
                src="/astro-logo.svg"
                class="inline"
                alt="tailwind"
                width="90"
                height="32"
                loading="lazy"
                decoding="async"
              />
              </div>
            </div>
          </div>
          <div
            class="w-[200px] lg:w-auto lg:flex-grow h-full flex centered relative overflow-hidden rounded-2xl"
            style="mask: linear-gradient(to bottom, #000 0%, #00000000 100%)"
          >
            <img
              src="/figma.svg"
              class="max-w-none z-20 mt-4"
              alt=""
              width="300"
              height="246"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
        <ul
          class="text-lg px-8 pb-4 text-left [&_li]:relative [&_li]:text-subtle [&_li]:py-4 [&_li:last-of-type]:after:hidden [&_li]:after:border-b [&_li]:after:border-dashed [&_li]:after:border-slate-dark/10 [&_li]:after:w-full [&_li]:after:h-px [&_li]:after:absolute [&_li]:after:bottom-0 [&_li]:after:left-0 [&_a]:text-default [&_a]:font-medium [&_a:hover]:underline"
        >
          <li>
            <p>
              Launch high-performance, high-conversion landing pages that use <a
                href="https://astro.build/blog/introducing-astro/"
                >almost no JavaScript</a
              >
            </p>
          </li><li>
            <p>
              Edit your site's content without touching code using <a
                href="https://docs.astro.build/en/guides/content-collections"
                >content collections</a
              >
            </p>
          </li><li>
            <p>
              Share your components between your landing pages and product using
              Astro's support for libraries like <a
                href="(https://docs.astro.build/en/core-concepts/framework-components/"
                >React, Vue, and Svelte</a
              >
            </p>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</div>
