---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Cozy Coders' Collective - Home">
  <main>
    <Nav />
    <Hero />
		<div class="flex justify-center items-center">
			<button class="px-4 py-2 bg-neutral-800 rounded border border-b-gray-300">frick</button>
		</div>
		<div class="flex gap-2 flex-wrap justify-center items-center">
			<div class="relative flex items-center justify-center">
				<svg
					width="450"
					height="450"
					viewBox="0 0 450 450"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<rect width="450" height="450" fill="#88AB8E" fill-opacity="0.2"></rect>
				</svg>
				<p class="z-1 absolute">test</p>
			</div>
			<div class="relative flex items-center justify-center">
				<svg
					width="450"
					height="450"
					viewBox="0 0 450 450"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<rect width="450" height="450" fill="#88AB8E" fill-opacity="0.2"></rect>
				</svg>
				<p class="z-1 absolute">test</p>
			</div>
		</div>

  </main>
</Layout>
