---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Cozy Coders' Collective - Home">
	<main>
		<Nav />
		<Hero />
	</main>
</Layout>
