---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import HeroButton from "../components/HeroButton.astro";
import HeroCarousel from "../components/HeroCarousel.astro";
import Footsies from "../components/Footsies.astro";
---

<Layout title="Cozy Coders' Collective - Home">
  <main>
    <Nav />
    <Hero />
    <div class="px-6 pt-4 pb-6 flex justify-center items-center">
      <HeroButton />
    </div>
    <HeroCarousel
      index={0}
      blogPostPhotos={[
        {
          photoPath: "/resto.png",
        },
        {
          photoPath: "/resto.png",
        },
      ]}
    >
      <p>ayo</p>
    </HeroCarousel>
    <Footsies />
  </main>
</Layout>
