---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import FancyButton from "../components/FancyButton.astro";
import HeroCarousel from "../components/HeroCarousel.astro";
import Footsies from "../components/Footsies.astro";
import Services from "../components/services/Services.astro";
import Contact from "../components/Contact.astro";
import Strengths from "../components/Strengths.astro";
---

<Layout title="Cozy Coders' Collective - Home">
  <main>
    <Nav />
    <Hero />
    <HeroCarousel
      index={0}
      blogPostPhotos={[
        {
          photoPath: "/resto.png",
        },
        {
          photoPath: "/resto.png",
        },
      ]}
    >
    </HeroCarousel>
    <Strengths />
    <Services />
    <Contact />
    <Footsies />
  </main>
</Layout>
