---
import FancyButton from "./FancyButton.astro";
---

<section class="pb-20 px-6 md:px-8 flex flex-col justify-center items-center gap-4">
  <h2 class="uppercase text-white text-5xl md:text-6xl font-medula text-center">
    Get in touch
  </h2>
  <p class="pb-4">
    Visit our contact form and start! Takes your life, dawg.
  </p>

  <FancyButton />
</section>