<style>
  /** Start hero button styles **/
  .hero-button:hover {
    box-shadow:
      0 0px 40px rgba(255, 255, 255, 0.1),
      0px 0px 10px #96bd9d;
  }
  /** End hero button styles **/
</style>

<a
  href="https://tally.so/r/mJ6yor"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Contact - Cozy Coders Tally Form"
  class="rounded-full border-2 border-opacity-30 border-white text-lg hero-button text-white relative hidden sm:flex hover:scale-105 transition-all duration-300 h-[58px] w-[216px] items-center justify-center cursor-pointer"
>
  <span>Contact</span>
</a>
