---
import FancyButton from "./FancyButton.astro";
---

<section class="pt-8 pb-20 px-2 md:px-10 flex flex-col justify-center items-center gap-4">
  <h2 class="text-white text-6xl md:text-7xl font-medula text-center">
    FAQ
  </h2>
  <p class="text-neutral-400 pb-4">
    Yo, pal, you should get in touch. Like seriously what are you doing with
    your life, dawg.
  </p>
  <FancyButton>
    <span>Let's chat</span>
  </FancyButton>
</section>
