---
import ChatButton from "./ChatButton.astro";
let currentYear = new Date().getFullYear();
---

<footer class="">
  <div class="px-10 py-20 flex flex-col justify-center items-center gap-4">
    <h2 class="text-white text-6xl md:text-7xl font-medula text-center">
      GET IN TOUCH
    </h2>
    <p class="text-light-1">
      Yo, pal, you should get in touch. Like seriously what are you doing with
      your life, dawg.
    </p>
    <ChatButton < footer />
  </div>
  <svg
  width="100%"
  height="87"
  viewBox="0 0 1590 87"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="mt-[-20px] squiggle-animated"
>
  <path
    d="M1 85.7946C214.86 57.7539 493 -11.1441 516.5 2.85586C540 16.8559 468 61.5 487 78C506 94.5 612 18.4389 632.5 25.5C653 32.5611 610 59 632.5 68C655 77 1591 40 1590.5 28"
    stroke="white"
    stroke-width="2"
    stroke-miterlimit="3.8637"></path>
</svg>
<div class="flex items-center justify-between">
  <div class="flex flex-col px-4">
    <div class="font-medula text-3xl">COZY CODERS' COLLECTIVE</div>  
    <div class="text-base">copyright {currentYear} Cozy Coders' Collective LLC</div>
  </div>
  <div></div>
  <div class="flex">
    <span>PROJECTS</span>
    <span>COLLECTIVE</span>
    <span>GITHUB</span>
  </div>
</div>
</footer>
