<style>
  .my-track {
    display: flex;
    gap: 2vmin;
    overflow-x: scroll;
  }

  .test {
    flex: 0 0 auto;
    width: 80vmin;
    height: 40vmin;
  }

  .test img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fix aspect ratio */
    object-position: top; /* left align the image within the element */
  }
</style>
<section class="my-track p-4">
  <div
    class="rounded-sm test flex items-center justify-center p-4 hover:bg-neutral-900"
  >
    <img class="rounded-sm" src="./resto.png" alt="resto's website" />
  </div>
  <div
    class="rounded-sm test flex items-center justify-center p-4 hover:bg-neutral-900"
  >
    <img class="rounded-sm" src="./resto.png" alt="resto's website" />
  </div>
  <div
    class="rounded-sm test flex items-center justify-center p-4 hover:bg-neutral-900"
  >
    <img class="rounded-sm" src="./resto.png" alt="resto's website" />
  </div>
</section>
