<style>
  .both {
    transition: mask-image 0.3s ease-in-out;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .right {
    transition: mask-image 0.3s ease-in-out;

    mask-image: linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .left {
    transition: mask-image 0.3s ease-in-out;

    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 100%
    );
  }

  .my-track {
    position: relative;
    color: color;
    display: flex;
    gap: 2vmin;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* snap to flex items */
    transition: all 0.3 s ease-in-out; /* lol this is broken*/
  }

  .img-wrapper {
    flex: 0 0 auto; /* don't grow, don't shrink flex item */
    width: 80vmin;
    height: 40vmin;
    transition: all 0.3 s ease-in-out; /* lol this is broken*/
    scroll-snap-align: start; /* snap to start of flex item */
  }

  /* fit top and move towards center somehow some way idk chief*/

  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fix aspect ratio */
    object-position: top; /* left align the image within the element */
  }
</style>
<section
  aria-roledescription="Carousel"
  aria-title="Select Work"
  class="my-track border-t border-b border-neutral-800"
>
  <div
    class="img-wrapper flex items-center justify-center p-6 hover:bg-neutral-900"
  >
    <img class="rounded-md" src="./resto.png" alt="resto's website" />
  </div>
  <div
    class="img-wrapper flex items-center justify-center p-6 hover:bg-neutral-900"
  >
    <img class="rounded-md" src="./resto.png" alt="resto's website" />
  </div>
  <div
    class="img-wrapper flex items-center justify-center p-6 hover:bg-neutral-900"
  >
    <img class="rounded-md" src="./resto.png" alt="resto's website" />
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const track: HTMLElement | null = document.querySelector(".my-track");

    if (track && track.scrollWidth > window.innerWidth) {
      track.classList.add("right");

      track.addEventListener("scroll", function () {
        let threshold = 1;
        const isAtRightEdge =
          track.scrollLeft + track.clientWidth + threshold >= track.scrollWidth;
        const isAtLeftEdge = track.scrollLeft == 0;

        if (isAtRightEdge) {
          track.classList.remove("both", "right");
          track.classList.add("left");
        } else if (isAtLeftEdge) {
          track.classList.remove("both", "left");
          track.classList.add("right");
        } else {
          track.classList.remove("left", "right");
          track.classList.add("both");
        }
      });
    }
  });
</script>
