<style>
  #mobile-nav-view {
    transform: translateX(-100%); /* start all the way left */
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    animation-name: slide-lr;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 40;
    inset: 0;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  /* start all the way left and move right */
  @keyframes slide-lr {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-rl {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
</style>

<nav id="mobile-nav-view" class="bg-neutral-900">
  <div class="flex justify-between">
    <div></div>
    <button aria-label="Close button" id="close-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        ><path
          fill="none"
          stroke="currentColor"
          strokeLinecap="round"
          stroke-linejoin="round"
          strokeWidth="2"
          d="M9 23L23 9m0 14L9 9"></path></svg
      >
    </button>
  </div>
  <div class="flex flex-col gap-8 justify-center items-center">
    <!--Note: after clicking, we should transition the mobile-nav-view away -->
    <a href="#" class="uppercase font-neuton text-3xl">Projects</a>
    <a href="#" class="uppercase font-neuton text-3xl">Contact</a>
    <a href="https://github.com/cozy-coders-collective" class="uppercase font-neuton text-3xl">GitHub</a>
  </div>
</nav>