<nav class="text-white flex justify-between items-center px-8 py-10">
  <div class="text-primary text-3xl font-medula">CCC</div>
  <!-- spacer -->
  <div></div>
  <div class="text-light-1 flex gap-14 font-neuton">
    <span>PROJECTS</span>
    <span>COLLECTIVE</span>
    <span>GITHUB</span>
    <span>CONTACT</span>
  </div>
</nav>
<div>
  <svg
    width="1615"
    height="93"
    viewBox="0 0 1615 93"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M2 83.3599C49.4708 80.5075 96.7515 69.0691 143.808 62.8998C243.982 49.7667 345.119 46.3748 445.124 31.7316C493.704 24.6185 540.469 13.7098 588.126 2.85805C617.553 -3.84264 560.888 30.7648 555.11 35.1735C552.012 37.5373 489.404 83.4812 494.648 88.5228C502.189 95.7733 528.6 84.9579 535.818 83.3599C587.154 71.9952 639.311 64.051 690.553 52.383C710.38 47.8683 730.197 42.1355 749.822 36.8945C758.684 34.5279 754.213 35.1052 749.424 39.3803C739.75 48.0176 730.151 55.6651 721.978 65.7681C711.201 79.0895 744.508 73.0343 750.817 73.0343C924.161 73.0343 1099 79.4154 1272.1 70.5485C1364.48 65.8166 1454.7 47.4605 1545.78 33.2614C1567.99 29.7977 1591.18 30.0931 1613 24.8479"
      stroke="#F2F1EB"
      stroke-width="3"
      stroke-linecap="round"></path>
  </svg>
</div>
