<nav
  class="backdrop-blur-sm w-full fixed top-0 pt-4 pb-[4.5rem] px-8 z-50 [mask-image:linear-gradient(to_bottom,red_40%,transparent)] bg-gradient-to-b from-background/50 to-transparent select-none"
>
  <div class="text-white flex justify-between items-center">
    <button aria-label="Menu button" id="menu-button" class="sm:hidden block">
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M40 14H8"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"></path>
        <path
          opacity="0.5"
          d="M40 24H8"
          stroke="#F2F1EB"
          stroke-width="3"
          stroke-linecap="round"></path>
        <path
          d="M40 34H8"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"></path>
      </svg>
    </button>

    <div class="text-primary text-3xl font-medula">CCC</div>
    <!-- spacer -->
    <div></div>
    <div class="text-light-1 gap-14 font-neuton hidden sm:flex">
      <a href="#" class="my-blur uppercase">Projects</a>
      <a href="#" class="my-blur uppercase">Contact</a>
      <a
        href="https://github.com/cozy-coders-collective"
        class="my-blur uppercase">GitHub</a
      >
    </div>
  </div>
</nav>
