<nav
  class="backdrop-blur-sm w-full fixed top-0 pt-4 pb-[4.5rem] px-8 z-40 [mask-image:linear-gradient(to_bottom,red_40%,transparent)] bg-gradient-to-b from-background/50 to-transparent select-none"
>
  <div class="text-white flex justify-between items-center">


    <div class="text-primary text-3xl font-medula">CCC</div>
    <!-- spacer -->
    <div></div>
    
    <div class="text-lg gap-6 hidden sm:flex">
      <a href="#" class="flex items-center border border-white rounded-full px-6 py-1">
        <span> Contact </span>
      </a>
    </div>

    <button aria-label="Menu button" id="menu-button" class="sm:hidden block">
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M40 14H8"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"></path>
        <path
          opacity="0.5"
          d="M40 24H8"
          stroke="#F2F1EB"
          stroke-width="3"
          stroke-linecap="round"></path>
        <path
          d="M40 34H8"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"></path>
      </svg>
    </button>
  </div>
</nav>
