<style>
  /* strength 1 */
  .highlight-bar-1 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(119, 124, 118) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg {
    filter: contrast(100%) brightness(100%);
    flex: 0 0 auto;
    height: 146%;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .bg-1 {
    background: radial-gradient(
        45.6% 68.2% at 50% 0%,
        rgba(67, 74, 66, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }

  .str-section {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 40px;
    height: auto;
    overflow: visible;
    padding: 0px 32px;
    position: relative;
    z-index: 1;
  }

  /* strength 2 */
  .highlight-bar-2 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(223, 112, 91) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg-2 {
    background: radial-gradient(
        45.6% 68.2% at 50% 0%,
        rgba(209, 70, 47, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }

  /* strength 3 */
  .highlight-bar-3 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(177, 178, 167) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg-3 {
    background: radial-gradient(
        45.6% 68.2% at 50% 0%,
        rgba(159, 159, 146, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }
</style>

<section class="px-2 md:px-10 flex flex-col gap-20">
  <div class="str-section">
    <div class="highlight-bar-1"></div>
    <div class="bg bg-1"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <div
        class="rounded-full bg-gradient-to-r from-[#eaebea] to-[#c2c5c2] brightness-125 contrast-100 flex gap-1 items-center text-xs p-[1px] select-none"
      >
        <div class="bg-black/80 px-3 py-1 rounded-full">
          <svg
            class="align-bottom inline-block h-4 w-4 fill-[#eaebea]"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            ><path d="M7 18a1 1 0 1 1-2 0a1 1 0 0 1 2 0"></path><path
              d="M10 6v12a4 4 0 0 1-8 0V6a4 4 0 1 1 8 0"
              opacity=".4"></path><path
              d="m9.248 20.336l3.974-3.975l5.838-6.09a4.042 4.042 0 0 0-5.776-5.655L10 7.9V18c0 .872-.279 1.679-.752 2.336"
              opacity=".7"></path><path
              d="m13.222 16.362l-3.974 3.974A4 4 0 0 1 6 22h11.9a4 4 0 1 0 0-8h-2.414z"
            ></path></svg
          >
          <span
            class="bg-gradient-to-r from-[#eaebea] to-[#c2c5c2] bg-clip-text text-transparent"
            >Unleash Creativity</span
          >
        </div>
      </div>

      <h3 class="text-3xl font-bold text-white font-neuton">
        Intuitive & Custom Designs
      </h3>
      <p class="text-neutral-400 text-center text-base">
        Crafted for universal appeal and tailored to your business needs, our
        designs ensure a positive experience for all stakeholders.
      </p>
    </div>
  </div>

  <div class="str-section">
    <div class="highlight-bar-2"></div>
    <div class="bg bg-2"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <span class="text-xs border border-bg-white rounded-full px-2 py-1"
        >Expand with Ease</span
      >
      <h3 class="text-3xl font-bold text-white font-neuton">
        Scalable Solutions for Growth
      </h3>
      <p class="text-neutral-400 text-center text-base">
        Our software solutions are built to scale and evolve rapidly, seamlessly
        integrating with your enterprise for sustained growth.
      </p>
    </div>
  </div>

  <div class="str-section">
    <div class="highlight-bar-3"></div>
    <div class="bg bg-3"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <span class="text-xs border border-bg-white rounded-full px-2 py-1"
        >Agile, Systematic, Economical</span
      >
      <h3 class="text-3xl font-bold text-white font-neuton">
        Efficient, Future-Proof Development
      </h3>
      <p class="text-neutral-400 text-center text-base">
        Experience streamlined development, efficient maintenance, and
        budget-friendly, future-proof solutions that save you time and money.
      </p>
    </div>
  </div>
</section>
