<style>
  /* strength 1 */
  .highlight-bar-1 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(119, 124, 118) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg {
    filter: contrast(100%) brightness(100%);
    flex: 0 0 auto;
    height: 146%;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .bg-1 {
    background: radial-gradient(
        45.6% 68.2% at 50% 0%,
        rgba(67, 74, 66, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }

  .str-section {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 40px;
    height: auto;
    overflow: visible;
    padding: 0px 32px;
    position: relative;
    z-index: 1;
  }

  /* strength 2 */
  .highlight-bar-2 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(223, 112, 91) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg-2 {
    background: radial-gradient(
        45.6% 68.2% at 50% 0%,
        rgba(209, 70, 47, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }

  /* strength 3 */
  .highlight-bar-3 {
    background: linear-gradient(
      90deg,
      rgb(9, 9, 11) /* background color */ 0%,
      rgb(177, 178, 167) /* {"name":"primary-line"} */ 50%,
      rgb(9, 9, 11) /* background color */ 100%
    );
    flex: 0 0 auto;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  }

  .bg-3 {
    background: radial-gradient(
        45.6% 68.2% at 50% 0%,
        rgba(159, 159, 146, 0.64) 0%,
        rgb(9, 9, 11) 100% /* background color */
      ),
      url("./noise.svg");
  }
</style>

<section class="px-2 md:px-10 flex flex-col gap-20">
  <div class="str-section">
    <div class="highlight-bar-1"></div>
    <div class="bg bg-1"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <span class="text-xs border border-bg-white rounded-full px-2 py-1"
        >Unleash Creativity</span
      >
      <h3 class="text-3xl font-bold text-white font-neuton">
        Intuitive & Custom Designs
      </h3>
      <p class="text-neutral-400 text-center text-base">
        Crafted for universal appeal and tailored to your business needs, our
        designs ensure a positive experience for all stakeholders.
      </p>
    </div>
  </div>

  <div class="str-section">
    <div class="highlight-bar-2"></div>
    <div class="bg bg-2"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <span class="text-xs border border-bg-white rounded-full px-2 py-1"
        >Expand with Ease</span
      >
      <h3 class="text-3xl font-bold text-white font-neuton">
        Scalable Solutions for Growth
      </h3>
      <p class="text-neutral-400 text-center text-base">
        Our software solutions are built to scale and evolve rapidly, seamlessly
        integrating with your enterprise for sustained growth.
      </p>
    </div>
  </div>

  <div class="str-section">
    <div class="highlight-bar-3"></div>
    <div class="bg bg-3"></div>
    <div class="flex flex-col items-center gap-4 z-10">
      <span class="text-xs border border-bg-white rounded-full px-2 py-1"
        >Agile, Systematic, Economical</span
      >
      <h3 class="text-3xl font-bold text-white font-neuton">
        Efficient, Future-Proof Development
      </h3>
      <p class="text-neutral-400 text-center text-base">
        Experience streamlined development, efficient maintenance, and
        budget-friendly, future-proof solutions that save you time and money.
      </p>
    </div>
  </div>
</section>
