<style>
  .test-header {
    text-align: center;
    letter-spacing: -0.2px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.07);
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      145deg,
      #fff 65%,
      rgba(255, 255, 255, 0.43)
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
</style>

<section class="py-8 px-2 md:px-10 flex flex-col gap-2">
  <h2 class="text-6xl md:text-7xl font-medula uppercase test-header">
    Strengths
  </h2>
  <p class="text-neutral-300">
    Ayo peep these services, pal. They’re like the best and you should check
    them out.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Strength 1 -->
    <div class="mb-4">
      <h3 class="text-2xl font-bold mb-2 text-primary font-neuton">
        Intuitive & Custom Designs
      </h3>
      <p class="text-[#EEE7DA]">
        Crafted for universal appeal and tailored to your business needs, our
        designs ensure a positive experience for all stakeholders.
      </p>
    </div>

    <!-- Strength 2 -->
    <div class="mb-4">
      <h3 class="text-xl font-bold mb-2 text-[#EEE7DA]">
        Scalable Solutions for Growth
      </h3>
      <p class="text-light-1">
        Our software solutions are built to scale and evolve rapidly, seamlessly
        integrating with your enterprise for sustained growth.
      </p>
    </div>

    <!-- Strength 3 -->
    <div class="mb-4">
      <h3 class="text-xl font-bold mb-2 text-[#EEE7DA]">
        Efficient, Future-Proof Development
      </h3>
      <p class="text-light-1">
        Experience streamlined development, efficient maintenance, and
        budget-friendly, future-proof solutions that save you time and money.
      </p>
    </div>
  </div>
</section>
