---
import FeatureButton from "./FeatureButton.astro";
import TrashouselWrapper from "./Trashousel/TrashouselWrapper";
---

<div class="flex flex-col gap-6">
  <FeatureButton />
  <TrashouselWrapper client:only />
</div>
